:root {
    --font-family-main: Consolas, "Times New Roman", Serif;

    --font-size-m: 16px;//переменные обозначаются '--'
    --font-line-m: 24px;//высота линии обычно назначается на 8px больше высоты шрифта
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);//объединяет все переменные для одного шрифта

    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    //Размеры
    --navbar-height: 50px;
}